# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
restAPI/
public/javascripts/chart.js
public/javascripts/apexChart.js
public/javascripts/bithumb.js
public/javascripts/tradeView.js
public/javascripts/tradeChart.js