<!DOCTYPE html>
<html>
  <head>
    <title>codestates-bithum-frontend</title>
    <!--css 초기화-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/palette.css'/>
    <link rel='stylesheet' href='/stylesheets/bithum.css'/>
    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel='stylesheet' href='/stylesheets/aside.css'/>
    <link rel='stylesheet' href='/stylesheets/blank.css'/>

    <!--font 초기화-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="public_contents_div">
        <div class="wrap_left_aside" id="left_aside_menu">
            <div class="aside_title flex flex-j-center flex-a-center">
                <div class="logo">
                </div>
            </div>
            <div class="aside_menu">
                <table class="aside_public_table aside_menu_content" id="clovine_app_categori">
                    <thead></thead>
                    <tbody>
                    <tr></tr>
                      <tr class="select_item">
                          <td class="clovine_trend_icon margin-lr-16"></td>
                          <td class="font-14b aside_menu text-white">거래소</td>
                          <td class="font-14b basic-font-color"></td>
                      </tr>
                      <tr>
                        <td class="clovine_trend_icon margin-lr-16"></td>
                        <td class="font-14b basic-font-color aside_menu">빗썸캐시</td>
                        <td class="font-14b basic-font-color"></td>
                    </tr>
                    <tr>
                      <td class="clovine_trend_icon margin-lr-16"></td>
                      <td class="font-14b basic-font-color aside_menu">상품/서비스</td>
                      <td class="font-14b basic-font-color"></td>
                  </tr>
                  <tr>
                    <td class="clovine_trend_icon margin-lr-16"></td>
                    <td class="font-14b basic-font-color aside_menu">제품/입점</td>
                    <td class="font-14b basic-font-color"></td>
                </tr>
                    </tbody>
                </table>
                <div class="aside_category_div flex margin-t-40">
                    <div class="aside_category font-14b white-color margin-l-16 flex flex-a-center">NFT</div>
                    <div class="aside_category_fold fold_category_icon" id="heaventree_app_categori_arrowbtn"></div>
                </div>
                <div class="aside_connector">
                </div>
            </div>
        </div>
    

    
    
        <div class="main_body_content">
          
            <div id = "all_openclose_card" class="view_button_toggle">
                <input id="open_all_card" type="radio" checked="">
                <label for="open_all_card">카드 전체 자세히보기</label>
                <input id="close_all_card" type="radio">
                <label for="close_all_card">카드 모두 접기</label>
            </div>
            <div class="first-line" style="display: flex;height: calc(100% - 50px);box-sizing: border-box;">
                <div class="flex" style="height: 100%;display: block;">
    
                    <div class="vertical-double-box">
                        <div class="small-card not-detail-card margin-r-12">
                            <div class="work_info_card padding-a-16">
                                <div class="card_title font-14b background-font-color margin-b-8">비트코인/BTC
                                <div class="open_close_card font-12n margin-l-4 flex flex-a-center"></div>
                                </div>
                                <div class = "flex" >
                                    <div id = "bithum_BTC_krw" class="card_title font-20b  flex flex-a-center"></div>
                                    <div id = "bithum_BTC_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                                </div>
                                <div id = "bithum_BTC_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                                <div class="font-12n margin-l-4 card_body_gray_color"></div>
                                <div id="container" class = "margin-l-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-double-box">
                    <div class="small-card not-detail-card margin-r-12">
                        <div class="work_info_card padding-a-16">
                            <div class="card_title font-14b background-font-color margin-b-8">이더리움
                            <div class="open_close_card font-12n margin-l-4 flex flex-a-center"></div>
                            </div>
                            <div class = "flex" >
                                <div id = "bithum_ETH_krw" class="card_title font-20b  flex flex-a-center"></div>
                                <div id = "bithum_ETH_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                            </div>
                            <div id = "bithum_ETH_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                            <div class="font-12n margin-l-4 card_body_gray_color"></div>
                        </div>
                    </div>
                    </div>
                    <div class="vertical-double-box">
                        <div class="small-card not-detail-card margin-r-12">
                            <div class="work_info_card padding-a-16">
                                <div class="card_title font-14b background-font-color margin-b-8">리플
                                <div class="open_close_card font-12n margin-l-4 flex flex-a-center"></div>
                                </div>
                                <div class = "flex" >
                                    <div id = "bithum_XRP_krw" class="card_title font-20b  flex flex-a-center"></div>
                                    <div id = "bithum_XRP_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                                </div>
                                <div id = "bithum_XRP_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                                <div class="font-12n margin-l-4 card_body_gray_color"></div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    
    </body>
</html>
