<!DOCTYPE html>
<html>

<head>
  <title>codestates-bithumb-frontend</title>
  <!--css 초기화-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/palette.css' />
  <link rel='stylesheet' href='/stylesheets/bithumb.css' />
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/aside.css' />
  <link rel='stylesheet' href='/stylesheets/blank.css' />
  <link rel='stylesheet' href='/stylesheets/font.css' />

  <!--font 초기화-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">

  <!--highcharts-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/annotations.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <!--apexcharts-->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>


  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


  <!--library-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>

  <!--javascript -->
    <script src="/javascripts/restAPI/bithumbAPI.js"></script>
  <script src="/javascripts/eventHandler.js"></script>
  <script src="/javascripts/webSocket.js"></script>
  <script src="/javascripts/tradeView.js"></script>
  <script src="/javascripts/chart.js"></script>
  <script src="/javascripts/utils.js"></script>
  <script src="/javascripts/apexChart.js"></script>
  <script src="/javascripts/tradeChart.js"></script>


</head>

<body>
  <div class="public_contents_div">


    <div class="wrap_left_aside" id="left_aside_menu">
      <div class="aside_title flex flex-j-center flex-a-center">빗썸 로고!
          <div class="logo">
          </div>
      </div>
      <div class="aside_menu">
          <table class="aside_public_table" id="clovine_app_categori">
              <thead></thead>
              <tbody>
              <tr class="font-14b" id = "main-page">
                  <td class="font-14b">홈</td>
              </tr>
              <tr class="font-14b select_item" id = "trade-page">
                  <td class="font-14b">트레이딩</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>




    <div class="main_body_content">
      <div class="eth_chart" style="width: 50%; display:none">

      </div>
      <div class="xrp_chart" style="width: 50%; display:none">

      </div>
      <div class="bch_chart" style="width: 50%; display:none">

      </div>
      <div class="matic_chart" style="width: 50%; display:none">

      </div>
      <!-- <div id = "all_openclose_card" class="view_button_toggle">
                <input id="close_all_card" type="radio" checked="">
                <label for="close_all_card">카드 모두 접기</label>
                <input id="open_all_card" type="radio">
                <label for="open_all_card">카드 모두 열기</label>
            </div> -->
      <!-- <div class="flex" style="height: 100%;display: block;overflow: hidden;"> -->

      <div class="vertical-double-box">

        <div class = "crypto_order_info_layout">
          <div class = "crpto_list_box">
              <!-- <div class = "crpyto_list_search_box">
                  <input id ="find_crpyto"  class = "public_search" type = "text" placeholder="코인 이름으로 찾기">검색</input>
              </div> -->
              <ul>
                <li title="원화" class="flex tab_selected padding-a-16" id = "krw_market">
                  원화 마켓
                </li>
              </ul>
              <table class ="crypto_list_set" id = "crypto_list_table">
                <thead>
                <tr class = "list_title">
                    <td style = "margin-top: 8px;">가상자산</td>
                    <td style = "margin-top: 8px;">현재가</td>
                    <td style = "margin-top: 8px">변동률</td>
                    <td style = "margin-top: 8px">거래대금</td>
                </tr>
                <tbody>
                </tbody>
                </thead>

            </table>
          </div>
        </div>

        <div class="content-card margin: 16px;">
          <div class="flex crpyto_title"> 
            <div class = "coinName font-14b margin-l-4 flex flex-a-center margin-r-12" id = "crypto_title"></div>
            <div id="tr_krw" class="card_title font-20b flex flex-a-center"></div>
            <div id="tr_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
            <button id = "1m" class = "margin-l-16 chart_time_btn">1분봉</button>
            <button id = "3m" class = "margin-l-16 chart_time_btn">3분봉</button>
            <button id = "1h" class = "margin-l-16 chart_time_btn">1시간</button>
            <button id = "1day" class = "margin-l-16 chart_time_btn">1일</button>
          </div>
          <div class="chart">
            <!-- <button id="setDay">1일봉</button>
            <button id="setWeek">7일봉</button> -->
            <div id="chartContainer" style="height: 500px; width: 100%;"></div>
          </div>
          <div style = "    width: 100%;
          display: flex;
          height: 594px;
          margin-top:8px;">
            <div class="crypto_content_info_layount">
              <div class="crypto_info_box">
                <!-- 코인 기본 정보 시작 -->
                <div class="crypto_content_info_box">
                  <table class="left_info_table">
                    <tbody>
                      <tr>
                        <th>거래량 24H</th>
                        <td><span id="tr_volume"></span></td>
                      </tr>
                      <tr>
                        <th>거래금액 24H</th>
                        <td><span id="tr_value"></span>
                      </tr>
                      <tr>
                        <th>체결강도</th>
                        <td id="tr_power"></td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="right_info_table">
                    <tbody>
                      <tr>
                        <th>고가(24H)</th>
                        <td><span id="tr_low"></span></td>
                      </tr>
                      <tr>
                        <th>저가(24H)</th>
                        <td><span id="tr_high"></span><span id="priceTradedUnit24H"></span></td>
                      </tr>
                      <tr>
                        <th>전일종가</th>
                        <td id="tr_finish"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--미니차트탭-->
                <div class="chart_info_category margin-t-16">
                  <ul>
                    <li title="차트" class="flex tab_selected" id = "mini_chart">
                      차트
                    </li>
                  </ul>
                </div>

                <!--채결내역 시세 -->
                <div class="transition_info_category  margin-t-16">
                  <ul>
                    <li title="차트" class="flex tab_selected">
                      체결내역
                    </li>
                  </ul>
                  <table class="transactionTitle">
                    <thead>
                      <tr>
                        <td>시간</td>
                        <td>가격</td>
                        <td>수량</td>
                      </tr>
                    </thead>
                    <tbody id="BTC_transaction">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class = "crypto_orderbook_info_layout padding-a-16 crypto_info_box">
              <table id = "orderBook_BTC_ask" class ="orderBookTitle">
                <thead>
                <tr>
                    <td>가격</td>
                    <td>매도 잔량</td>
                </tr>
                </thead>
                <tbody id = "bit_ask">

                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
 