
.wrap_left_aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
    height: 100%;
    border-right: 1px solid #EFEFEF;
    /* margin: 12px; */
    /* margin-left: 20px; */
    float: left;
}

.aside_title {
    width: 30px;
    height: 80px;
}

/* .logo {
    width: 150px;
    height: 39px;
    background-image: url(https://www.bithumb.com/resources/img/sprite/sp_main_new.png?v=bithumb.2.0.5);
    background-repeat: no-repeat;
} */

.aside_menu {
    width: 100%;
    height: calc(100% - 150px);
}

.aside_connector {
    height: 50px;
}

.aside_category{
    width: 220px;
}

.aside_category_fold{
    cursor: pointer;
}

.aside_category_hidden{
    display: none;
}

.aside_public_table tbody tr td:hover{
    cursor: pointer;
    /* transition: all 0.7s; */
}

/*menu table*/
.aside_public_table tbody tr{
    width: 270px;
    height: 42px;
}

.aside_public_table tbody tr:nth-child(1){
    border-top: 1px solid #EFEFEF;
    height: 50px;
}

.aside_public_table tbody > tr > td {
    align-items: center;
}


.aside_public_table tbody > tr > td:hover {
    color: #fe9601;
}
/* 
.aside_public_table tbody tr td:nth-child(1){
    padding: 6px;
}
.aside_public_table tbody tr td:nth-child(2){
    text-align: left;
    width: 210px;
}
.aside_public_table tbody tr td:nth-child(3){
    width: 30px;
} */

/* .aside_menu:hover{
    color: var(--color-white) !important;
}

.text-white {
    color: var(--color-white) !important;
} */

.select_item {
    color: #fe9601 !important;
}

.aside_public_table{
    display: flex;
    justify-content: center;
    width: 100%;
}